

.bg{
    width: 720px;
    margin: 60px auto;
    position: relative;
}
.bg-img{
    width: 100%;
    border-radius: 16px;
}
.content{
    /* margin-left: 50px; */
    position: absolute;
    bottom: 0px;
    left: 40px;
    color: white;
    padding: 25px;
}

.btn-light{
    background-color: #fff;
    color: black;
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    border-radius: 12px;
    /* margin:auto; */
}